/* ############################## Font's start ##################### */
/* Fonts For Heading */
@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'plus-jakarta-sans';
    src: url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/plus-jakarta-sans/PlusJakartaSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
/* Fonts For Numbers */
@font-face {
    font-family: 'editor-note';
    src: url('../fonts/editors-note/EditorsNote-Medium.woff2') format('woff2'),
        url('../fonts/editors-note/EditorsNote-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ############################## global classes start ##################### */
:root {
    /* Typography tokens from Figma */
    --body-font: "plus-jakarta-sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    /* Brand  ver*/
    --brand-primary: #14357A;  /* Navy-based trust color (good for pressure washing) */
    --brand-accent: #FC621A; /* Orange (contrast punch) */

    /* brand support */
    --support-red: #A53906;
    --support-sky: #19ABC8;
    --support-blue: #26419C;

    /* Brand Utility  colors*/
    --text-primary: #1B2A41;
    --text-scondery: #4C6C87;
    --neutral-white: #FFFFFF;
    --tag-green: #19AAC73B;
    --drag-blue: #19AAC7;
    --shadow-cyan: #1AACCA;

    /* global  ver*/
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-text-dark: #1F1F1F;
    --color-grey: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--text-primary);
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: var(--color-brand-primary);
}

h2 {
    font-size: 60px;
    line-height: 60px;
}

p {
    font-size: 18px;
    color: var(--text-scondery);
}

main {
    padding: 0px;
    margin: 0px;
}

.camo-margin-top {
    margin-top: 100px;
}

a {
    color: var(--text-primary);
    text-transform: capitalize;
}

a:active{
    color: var(--brand-accent);
}

.num{
    font-family: 'editor-note' !important;
}



/* Samicss */

.camo-btn {
    font-weight: 600;
    width: fit-content;
    border-radius: 20px;
}
.camo-btn-primary{
    background: linear-gradient(90deg, #FC621A, #A53906);
    color: var(--neutral-white);
}
.camo-btn-secondery{
     background: linear-gradient(90deg, #26419C, #19ABC8);
    color: var(--neutral-white);
}

/* faqsec */
    .custom-accordion .accordion-item {
    margin-bottom: 25px;
    border-radius: 30px 30px 30px 30px !important;
    overflow: hidden;
    background: #f4f9ff;
    background: linear-gradient(135deg, #14357A, #1B2A41);
    box-shadow: -20px 10px 100px -4px rgb(132 188 221 / 39%);
}

/* Heading default */
.custom-accordion .accordion-button {
    background: #ffffff;
    color: #002B51;
    font-size: 24px;
    font-weight: 500;
    padding: 32px;
    line-height: 1.4;
}

/* Remove Bootstrap shadow */
.accordion-button:focus {
    box-shadow: none !important;
}

/* When opened */
.custom-accordion .accordion-button:not(.collapsed) {
    background: transparent;
    color: #ffffff;  
    border-radius: 30px 30px 0 0 !important; 
    padding: 40px 40px 20px !important;
}

/* Body style */
.custom-accordion .accordion-body {
    padding: 0px 40px 40px 40px;
    background: transparent;
    color: #ffffff;
    border-radius: 0px 0px 30px 30px !important; 
    font-size: 18px;
    font-family: 'DM-Sans';
}

/* Arrow rotate on open */
.accordion-button::after {
    transition: transform .3s ease-in-out;
    background: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.9698" cy="16.9698" r="16.9698" fill="%23FC621A"/><path d="M9.96985 16.9697H23.9698M23.9698 16.9697L16.9698 23.9697M23.9698 16.9697L16.9698 9.96973" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 40px !important;
    height: 40px !important;
    background-repeat: no-repeat;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);
    width: 33px;
    height: 33px;
}

button:not(.collapsed)::after {
    background: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.9698" cy="16.9698" r="16.9698" fill="%23FC621A"/><path d="M9.96985 16.9697H23.9698M23.9698 16.9697L16.9698 23.9697M23.9698 16.9697L16.9698 9.96973" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>') !important;
    background-repeat: no-repeat !important;
    transform: rotate(270deg) !important;
}

/* services section */

.process-section {
  background: radial-gradient(circle at top, #eaf9ff 0%, #f9fdff 70%);
}

.process-circle {
  background: #ffffff;
  border-radius: 50%;
  padding: 50px 30px;
  height: 100%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
  width: 108%;
}

.process-circle h5 {
  font-weight: 500;
  margin-top: 25px;
  color: #0b2c48;
  font-size: 30px;
}

.process-circle p {
  font-size: 16px;
  color: #5f6f81;
  margin-top: 10px;
}
